{% extends "layout.html" %}
{% load static %}


{% block content %}

   <!-- Breadcrumb Wrapper -->
   <div class="breadcrumb-wrapper bg-img jarallax bg-overlay" data-jarallax="" data-speed="0.6"
      style="background-image: url('{% static 'img/bg-img/3.png' %}');">
      <div class="container h-100">
         <div class="breadcrumb-content h-100">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">Blog</h2>
            <ul class="list-unstyled wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms">
               <li><a href="{% url 'index' %}">Inicio</a></li>
               <li>Blog</li>
            </ul>
         </div>
      </div>
   </div>

   <!-- Blog Wrapper -->
   <div class="blog-page-wrap">
      <div class="divider"></div>

      <div class="container">
         <div class="row g-4 g-xl-5">
            <div class="col-12 col-md-7 col-lg-8">
               <div class="d-flex flex-column gap-5">

                  

                  

                  <!-- Blog Card -->
                  {% for publicacion in page_obj %}
                  <div class="single-blog">
                     <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
                     <div class="blog-meta d-flex align-items-center">
                        <a href="#">{{ publicacion.fecha_publicacion|date:"F d, Y" }}</a>
                        <div class="dot"></div>
                        <a href="#">{{ publicacion.categoria.nombre }}</a>
                     </div>
                    
                     <a href="{% url 'blog_detalles' publicacion.slug %}" class="btn btn-primary">
                        <span>LEER MÁS</span><span>LEER MÁS</span>
                        
                     </a>
                  </div>
                  {% empty %}
                     <p>No hay publicaciones disponibles.</p>
                     
                  {% endfor %}

                  <!-- Blog Pagination -->
                  <ul class="blog-pagination list-unstyled">
                     <li><a href="#">1</a></li>
                     <li><a href="#">2</a></li>
                     <li><a href="#">3</a></li>
                     <li class="active">
                        <a href="#">
                           <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                              fill="none">
                              <path
                                 d="M28.0613 17.0605L19.0613 26.0605C18.7795 26.3423 18.3973 26.5006 17.9988 26.5006C17.6002 26.5006 17.218 26.3423 16.9363 26.0605C16.6545 25.7787 16.4961 25.3965 16.4961 24.998C16.4961 24.5995 16.6545 24.2173 16.9363 23.9355L23.375 17.4992H5C4.60218 17.4992 4.22064 17.3412 3.93934 17.0599C3.65804 16.7786 3.5 16.3971 3.5 15.9992C3.5 15.6014 3.65804 15.2199 3.93934 14.9386C4.22064 14.6573 4.60218 14.4992 5 14.4992H23.375L16.9387 8.05924C16.657 7.77745 16.4986 7.39526 16.4986 6.99674C16.4986 6.59823 16.657 6.21603 16.9387 5.93424C17.2205 5.65245 17.6027 5.49414 18.0012 5.49414C18.3998 5.49414 18.782 5.65245 19.0637 5.93424L28.0637 14.9342C28.2036 15.0738 28.3145 15.2396 28.3901 15.4221C28.4657 15.6046 28.5045 15.8003 28.5043 15.9979C28.5041 16.1955 28.4648 16.391 28.3888 16.5734C28.3127 16.7557 28.2014 16.9213 28.0613 17.0605Z"
                                 fill="#0E0E0E" />
                           </svg>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
               <div class="d-flex flex-column gap-5">
                  <!-- Widget -->
                  

                  <!-- Widget -->
                  <div class="blog-widget">
                     <h4 class="mb-4">Categorías</h4>
                  
                     <ul class="blog-list">
                        {% for categoria in categorias %}
                           <li>
                              <a href="">
                                 {{ categoria.nombre }}
                                 <span>({{ categoria.posts.count }})</span>
                              </a>
                           </li>
                        {% empty %}
                           <li>No hay categorías disponibles.</li>
                        {% endfor %}
                     </ul>
                  </div>
                  

                  <!-- Widget -->
                  <div class="blog-widget">
                     <h4 class="mb-4">Publicaciones Recientes</h4>
                  
                     <div class="d-flex flex-column gap-4">
                        {% for post in recientes %}
                           <div class="widget-blog-post">
                              <div class="blog-thumbnail">
                                 <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}">
                              </div>
                              <div class="blog-content">
                                 <h6><a href="">{{ post.titulo }}</a></h6>
                                 <p class="mb-0">{{ post.fecha_publicacion|date:"F d, Y" }}</p>
                              </div>
                           </div>
                        {% empty %}
                           <p>No hay publicaciones recientes.</p>
                        {% endfor %}
                     </div>
                  </div>
                  

                  <!-- Widget -->
                  <div class="blog-widget">
                     <h4 class="mb-4">Nube de Etiquetas</h4>
                  
                     <ul class="tag-list list-unstyled">
                        {% for etiqueta in etiquetas %}
                           <li>
                              <a href="">
                                 {{ etiqueta.nombre }}
                              </a>
                           </li>
                        {% empty %}
                           <li>No hay etiquetas disponibles.</li>
                        {% endfor %}
                     </ul>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>

      <div class="divider"></div>
   </div>

   <!-- CTA Wrapper -->
   {% endblock %}