{% extends "layout.html" %}
{% load static %}


{% block content %}

   <!-- Breadcrumb Wrapper -->
   <div class="breadcrumb-wrapper bg-img jarallax bg-overlay" data-jarallax="" data-speed="0.6"
      style="background-image: url('{% static 'img/bg-img/3.png' %}');">
      <div class="container h-100">
         <div class="breadcrumb-content h-100">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">Blog</h2>
            <ul class="list-unstyled wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms">
               <li><a href="{% url 'index' %}">Inicio</a></li>
               <li>Blog</li>
            </ul>
         </div>
      </div>
   </div>

   <!-- Blog Wrapper -->
   <div class="blog-page-wrap">
      <div class="divider"></div>

      <div class="container">
         <div class="row g-4 g-xl-5">
            <div class="col-12 col-md-7 col-lg-8">
               <div class="d-flex flex-column gap-5">

                  

                  

                  <!-- Blog Card -->
                  {% for publicacion in page_obj %}
                  <div class="single-blog">
                     <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
                     <div class="blog-meta d-flex align-items-center">
                        <a href="#">{{ publicacion.fecha_publicacion|date:"F d, Y" }}</a>
                        <div class="dot"></div>
                        <a href="{% url 'blog_detalles' publicacion.slug %}">{{ publicacion.categoria.nombre }}</a>
                     </div>
                    
                     <a href="{% url 'blog_detalles' publicacion.slug %}" class="btn btn-primary">
                        <span>LEER MÁS</span><span>LEER MÁS</span>
                        
                     </a>
                  </div>
                  {% empty %}
                     <p>No hay publicaciones disponibles.</p>
                     
                     
                  {% endfor %}

                  <!-- Blog Pagination -->
                  
               </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
               <div class="d-flex flex-column gap-5">
                  <!-- Widget -->
                  

                  <!-- Widget -->
                  <div class="blog-widget">
                     <h4 class="mb-4">Categorías</h4>
                  
                     <ul class="blog-list">
                        {% for categoria in categorias %}
                           <li>
                              <a href="">
                                 {{ categoria.nombre }}
                                 <span>({{ categoria.posts.count }})</span>
                              </a>
                           </li>
                        {% empty %}
                           <li>No hay categorías disponibles.</li>
                        {% endfor %}
                     </ul>
                  </div>
                  

                  <!-- Widget -->
                  <div class="blog-widget">
                     <h4 class="mb-4">Publicaciones Recientes</h4>
                  
                     <div class="d-flex flex-column gap-4">
                        {% for post in recientes %}
                           <div class="widget-blog-post">
                              <div class="blog-thumbnail">
                                 <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}">
                              </div>
                              <div class="blog-content">
                                 <h6><a href="">{{ post.titulo }}</a></h6>
                                 <p class="mb-0">{{ post.fecha_publicacion|date:"F d, Y" }}</p>
                              </div>
                           </div>
                        {% empty %}
                           <p>No hay publicaciones recientes.</p>
                        {% endfor %}
                     </div>
                  </div>
                  

                  <!-- Widget -->
                  <div class="blog-widget">
                     <h4 class="mb-4">Nube de Etiquetas</h4>
                  
                     <ul class="tag-list list-unstyled">
                        {% for etiqueta in etiquetas %}
                           <li>
                              <a href="">
                                 {{ etiqueta.nombre }}
                              </a>
                           </li>
                        {% empty %}
                           <li>No hay etiquetas disponibles.</li>
                        {% endfor %}
                     </ul>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>

      <div class="divider"></div>
   </div>

   <!-- CTA Wrapper -->
   {% endblock %}