{% extends "layout.html" %}
{% load static %}


{% block content %}

   <!-- Breadcrumb Wrapper -->
   <div class="breadcrumb-wrapper bg-img jarallax bg-overlay" data-jarallax="" data-speed="0.6"
      style="background-image: url('{% static 'img/bg-img/3.png' %}');">
      <div class="container h-100">
         <div class="breadcrumb-content h-100">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">Detalles</h2>
            <ul class="list-unstyled wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms">
               <li><a href="{% url 'index' %}">Inicio</a></li>
               <li>Blog</li>
            </ul>
         </div>
      </div>
   </div>

   <!-- Blog Wrapper -->
   <div class="blog-page-wrap">
      <div class="divider"></div>

      <div class="container">
         <div class="row g-4 g-xl-5">
            <div class="col-12 col-md-7 col-lg-8">
               <!-- Blog Title -->
               <div class="single-blog">
                  <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
                  <div class="blog-meta d-flex align-items-center">
                     <a href="#">{{ publicacion.fecha_publicacion|date:"F d, Y" }}</a>
                     <div class="dot"></div>
                     <a href="#">{{ publicacion.categoria.nombre }}</a>
                  </div>
                  <h2 class="post-title mb-5">{{ publicacion.titulo }}</h2>
               </div>

               <!-- Blog Content -->
               <div class="blog-details-content">
                  {{ publicacion.contenido|linebreaks }}
               </div>

               <!-- Tags & Share Wrapper -->
               <ul class="tags-list list-unstyled">
                  <li>Etiquetas:</li>
                  {% for tag in publicacion.etiquetas.all %}
                     <li><a href="{% url 'tag_detail' tag.slug %}">{{ tag.nombre }}</a></li>
                  {% endfor %}
               </ul>

               <!-- Pager -->
               <div class="blog-pager">
                  {% if prev_post %}
                     <a href="{% url 'blog_detalles' prev_post.slug %}">
                        <span class="material-symbols-outlined">arrow_back</span> {{ prev_post.titulo|truncatechars:30 }}
                     </a>
                  {% endif %}
                  {% if next_post %}
                     <a href="{% url 'blog_detalles' next_post.slug %}">
                        {{ next_post.titulo|truncatechars:30 }} <span class="material-symbols-outlined">arrow_forward</span>
                     </a>
                  {% endif %}
               </div>
               
               <div class="divider-sm"></div>

               <!-- Comments -->
               <div class="blog-comments">
                  <h3 class="mb-5">Autor</h3>
                  <ul class="list-unstyled blog-comments-list">
                     <li>
                        <p class="mb-0"><p class="mb-0">
                            Cada publicación refleja esa visión y compromiso con resultados reales.
                        </p></p>

                           <div class="d-flex align-items-center justify-content-between flex-wrap gap-4 mt-4">
                              <div>
                                 <h4 class="mb-1">{{ publicacion.autor.get_full_name }}</h4>
                                 <p class="mb-0">{{ publicacion.fecha_publicacion|date:"F d, Y \\a\\t h:i A" }}</p>
                              </div>
                              <!-- <a href="#" class="btn btn-sm btn-primary"><span>REPLY</span><span>REY</span></a> -->
                           </div>
                           
                     </li>
                  </ul>
               </div>

               <div class="divider-sm"></div>

               <!-- Comment Form -->
               
            </div>

            <div class="col-12 col-md-7 col-lg-4">
               <div class="d-flex flex-column gap-5">
                  <!-- Widget -->
                  

                  <!-- Widget -->
                  <div class="blog-widget">
                     <h4 class="mb-4">Categorías</h4>
                  
                     <ul class="blog-list">
                        {% for categoria in categorias %}
                           <li>
                              <a href="">
                                 {{ categoria.nombre }}
                                 <span>({{ categoria.posts.count }})</span>
                              </a>
                           </li>
                        {% empty %}
                           <li>No hay categorías disponibles.</li>
                        {% endfor %}
                     </ul>
                  </div>

                  <!-- Widget -->
                  <div class="blog-widget">
                     <h4 class="mb-4">Publicaciones Recientes</h4>
                  
                     <div class="d-flex flex-column gap-4">
                        {% for post in recientes %}
                           <div class="widget-blog-post">
                              <div class="blog-thumbnail">
                                 <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}">
                              </div>
                              <div class="blog-content">
                                 <h6><a href="">{{ post.titulo }}</a></h6>
                                 <p class="mb-0">{{ post.fecha_publicacion|date:"F d, Y" }}</p>
                              </div>
                           </div>
                        {% empty %}
                           <p>No hay publicaciones recientes.</p>
                        {% endfor %}
                     </div>
                  </div>

                  <!-- Widget -->
                  <div class="blog-widget">
                     <h4 class="mb-4">Nube de Etiquetas</h4>
                  
                     <ul class="tag-list list-unstyled">
                        {% for etiqueta in etiquetas %}
                           <li>
                              <a href="">
                                 {{ etiqueta.nombre }}
                              </a>
                           </li>
                        {% empty %}
                           <li>No hay etiquetas disponibles.</li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="divider"></div>
   </div>



{% endblock %}