{% extends "layout.html" %}
{% load static %}


{% block content %}

<div class="breadcrumb-wrapper bg-img jarallax bg-overlay" data-jarallax="" data-speed="0.6"
      style="background-image: url('{% static 'img/bg-img/3.png' %}');">
      <div class="container h-100">
         <div class="breadcrumb-content h-100">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">Servicios</h2>
            <ul class="list-unstyled wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms">
               <li><a href="">Inicio</a></li>
               <li>Servicios</li>
            </ul>
         </div>
      </div>
   </div>
   <!-- Service Wrapper -->
   <div class="service-wrapper">
      <div class="divider"></div>
  
      <div class="container">
          <div class="row g-4 g-lg-5">
              <div class="col-12 col-md-6 col-xl-4">
                 
                      <div class="service-slide-card">
                          <span class="material-symbols-outlined">explore</span>
                          <h2>Estrategia Digital</h2>
                          <p class="mb-0">Creamos planes 360° que integran todos tus canales para un crecimiento sostenible y medible.</p>
                      </div>
              
              </div>
  
              <div class="col-12 col-md-6 col-xl-4">
          
                      <div class="service-slide-card">
                          <span class="material-symbols-outlined">auto_awesome</span>
                          <h2>Inteligencia Artificial</h2>
                          <p class="mb-0">Potenciamos tus resultados con modelos predictivos y personalización a gran escala para máxima eficiencia.</p>
                      </div>
            
              </div>
  
              <div class="col-12 col-md-6 col-xl-4">
               
                      <div class="service-slide-card">
                          <span class="material-symbols-outlined">language</span>
                          <h2>Diseño y Desarrollo Web</h2>
                          <p class="mb-0">Construimos sitios web funcionales y atractivos, optimizados para la conversión y la experiencia de usuario.</p>
                      </div>
                
              </div>
  
              <div class="col-12 col-md-6 col-xl-4">
            
                      <div class="service-slide-card">
                          <span class="material-symbols-outlined">trending_up</span>
                          <h2>SEO y SEM</h2>
                          <p class="mb-0">Aumentamos tu visibilidad en buscadores y captamos clientes con publicidad online efectiva.</p>
                      </div>
                
              </div>
  
              <div class="col-12 col-md-6 col-xl-4">
               
                      <div class="service-slide-card">
                          <span class="material-symbols-outlined">storefront</span>
                          <h2>E-commerce Marketing</h2>
                          <p class="mb-0">Impulsamos tus ventas online con estrategias especializadas para atraer y convertir clientes en tu tienda.</p>
                      </div>
             
              </div>
  
              <div class="col-12 col-md-6 col-xl-4">
                
                      <div class="service-slide-card">
                          <span class="material-symbols-outlined">bar_chart</span>
                          <h2>Analítica Web y Reportes</h2>
                          <p class="mb-0">Transformamos datos en decisiones inteligentes, midiendo el impacto real de cada acción de marketing.</p>
                      </div>
             
              </div>
          </div>
      </div>
  
      <div class="divider"></div>
  </div>

   <!-- About Us -->
   <div class="about-us-wrapper bg-secondary">
      <div class="divider"></div>

      <!-- Left Side Image -->
      <div class="about-left-side-bg bg-img" style="background-image: url('{% static 'img/bg-img/adidas.png' %}');"></div>

      <div class="container">
         <div class="row g-4 justify-content-end">
             <div class="col-12 col-md-6">
                 <div class="about-us-text-content ps-md-4">
                     <div class="section-heading">
                         <h2 class="mb-0">Conexiones Reales, Tecnología de Vanguardia</h2>
                     </div>
     
                     <p class="mb-0">Impulsamos tu éxito combinando la estrategia de un equipo multidisciplinario con herramientas de IA. Somos expertos en transformar tu marca con soluciones a medida, porque entendemos que en un mundo digital, lo que más importa sigue siendo humano.</p>
     
                     <ul class="ps-0 list-unstyled mb-0">
                         <li>
                             <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                 <path
                                     d="M12.1473 23.354C12.144 23.354 12.1402 23.354 12.1369 23.354C12.0013 23.3512 11.8733 23.2932 11.7814 23.1937L2.40471 12.9978C2.24392 12.8228 2.22916 12.5592 2.36971 12.3672C2.51025 12.1758 2.76619 12.1102 2.98166 12.2108L11.5638 16.2293C11.636 16.2632 11.7213 16.2468 11.7765 16.1893L24.8676 2.50708C25.0448 2.32169 25.3346 2.30145 25.5359 2.46114C25.7371 2.62083 25.7836 2.90739 25.6431 3.12231L12.6209 23.0712C12.6023 23.1002 12.5804 23.1265 12.5563 23.1511L12.4989 23.2085C12.4054 23.3015 12.2785 23.354 12.1473 23.354Z"
                                     fill="#FEFEFE" />
                             </svg>
                             Simplificamos lo complejo.</li>
                         <li>
                             <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                 <path
                                     d="M12.1473 23.354C12.144 23.354 12.1402 23.354 12.1369 23.354C12.0013 23.3512 11.8733 23.2932 11.7814 23.1937L2.40471 12.9978C2.24392 12.8228 2.22916 12.5592 2.36971 12.3672C2.51025 12.1758 2.76619 12.1102 2.98166 12.2108L11.5638 16.2293C11.636 16.2632 11.7213 16.2468 11.7765 16.1893L24.8676 2.50708C25.0448 2.32169 25.3346 2.30145 25.5359 2.46114C25.7371 2.62083 25.7836 2.90739 25.6431 3.12231L12.6209 23.0712C12.6023 23.1002 12.5804 23.1265 12.5563 23.1511L12.4989 23.2085C12.4054 23.3015 12.2785 23.354 12.1473 23.354Z"
                                     fill="#FEFEFE" />
                             </svg>
                             Maximizamos la conversión.</li>
                         <li>
                             <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                 <path
                                     d="M12.1473 23.354C12.144 23.354 12.1402 23.354 12.1369 23.354C12.0013 23.3512 11.8733 23.2932 11.7814 23.1937L2.40471 12.9978C2.24392 12.8228 2.22916 12.5592 2.36971 12.3672C2.51025 12.1758 2.76619 12.1102 2.98166 12.2108L11.5638 16.2293C11.636 16.2632 11.7213 16.2468 11.7765 16.1893L24.8676 2.50708C25.0448 2.32169 25.3346 2.30145 25.5359 2.46114C25.7371 2.62083 25.7836 2.90739 25.6431 3.12231L12.6209 23.0712C12.6023 23.1002 12.5804 23.1265 12.5563 23.1511L12.4989 23.2085C12.4054 23.3015 12.2785 23.354 12.1473 23.354Z"
                                     fill="#FEFEFE" />
                             </svg>
                             Superamos los estándares del marketing digital.</li>
                     </ul>
     
                     <div>
                         <a href="#" class="btn btn-primary mt-4"><span>Descubre </span><span>Descubre </span></a>
                     </div>
                 </div>
             </div>
         </div>
     </div>

      <div class="divider"></div>
   </div>

   <!-- Price Table -->
   <div class="price-table-wrapper">
      <div class="divider"></div>
  
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-12 col-md-8">
                  <div class="section-heading text-center">
                      <h2 class="mb-0">Planes para Impulsar tu Negocio</h2>
                  </div>
              </div>
          </div>
      </div>
  
      <div class="divider-sm"></div>
  
      <div class="container">
          <div class="row g-4 justify-content-center">
  
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="price-card">
                      <div class="price-info">
                          <h6>Capacitación en Redes</h6>
                          <div class="price-container">
                            <span class="price">$300.000</span>
                              
                          </div>
                          <p class="price-duration">sesión 4h</p>
                          <p class="mb-0">Capacita a tu equipo para dominar las plataformas digitales y crear contenido estratégico.</p>
                      </div>
  
                      <ul class="price-description list-unstyled">
                          <li><span class="material-symbols-outlined">check</span> Sesión Virtual de 4 Horas</li>
                          <li><span class="material-symbols-outlined">check</span> Estrategia de Contenido y Campañas</li>
                          <li><span class="material-symbols-outlined">check</span> Análisis de Métricas y KPIs</li>
                          <li><span class="material-symbols-outlined">check</span> Ideal para Equipos y Emprendedores</li>
                      </ul>
  
                      <div class="choose-plan">
                          <a href="#" class="btn btn-dark w-100"><span>Elegir este plan</span><span>Elegir este plan</span></a>
                      </div>
                  </div>
              </div>
  
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="price-card">
                      <div class="price-info">
                          <h6>Plan Social Media</h6>
                          <div class="price-container">
                              <span class="currency-symbol text-primary">$</span>
                              <span class="price-amount text-primary">4.500.000</span>
                          </div>
                          <p class="price-duration">trimestre</p>
                          <p class="mb-0">Maximiza tu presencia en redes con eficiencia y ahorra costos sin sacrificar la calidad.</p>
                      </div>
  
                      <ul class="price-description list-unstyled">
                          <li><span class="material-symbols-outlined">check</span> Gestión Trimestral (Facebook & Instagram)</li>
                          <li><span class="material-symbols-outlined">check</span> 72 Publicaciones (Posts y Reels)</li>
                          <li><span class="material-symbols-outlined">check</span> Estrategia y Gestión de Campaña Digital</li>
                          <li><span class="material-symbols-outlined">check</span> Capacitación de 2 Horas Incluida</li>
                      </ul>
  
                      <div class="choose-plan">
                          <a href="#" class="btn btn-primary w-100"><span>Elegir este plan</span><span>Elegir este plan</span></a>
                      </div>
                  </div>
              </div>
  
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="price-card">
                      <div class="price-info">
                          <h6>Pack Emprendedor</h6>
                          <div class="price-container">
                            
                              <span class="price">$500.000</span>
                          </div>
                          <p class="price-duration">único pago</p>
                          <p class="mb-0">Contenido profesional y estratégico para un mes completo en tus redes sociales.</p>
                      </div>
  
                      <ul class="price-description list-unstyled">
                          <li><span class="material-symbols-outlined">check</span> Estrategia de Contenido para 1 Mes</li>
                          <li><span class="material-symbols-outlined">check</span> Sesión Fotográfica Profesional</li>
                          <li><span class="material-symbols-outlined">check</span> Producción de 2 Reels de Alto Impacto</li>
                          <li><span class="material-symbols-outlined">check</span> Ideal para Lanzamiento de Productos</li>
                      </ul>
  
                      <div class="choose-plan">
                          <a href="#" class="btn btn-dark w-100"><span>Elegir este plan</span><span>Elegir este plan</span></a>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
  
      <div class="divider"></div>
  </div>


 

   {% endblock %}